properties += [
  searchRpcServlet: [
    waitTimeout: 60000
  ],
  useStubFetcherFactory: false,
  useStubQuotationService: true,

  productMemcachedHost: "localhost",
  productMemcachedConfig: [
    keyPrefix: "search_product_",
    port: 11211,
    useElasticache: false
  ],

  inventoryMemcachedHost: "localhost",
  inventoryMemcachedConfig: [
    keyPrefix: "search_inventory_",
    port: 11211,
    useElasticache: false
  ],

  poolMemcachedHost: "localhost",
  poolMemcachedConfig: [
    keyPrefix: "search_pool_",
    port: 11211,
    useElasticache: false
  ],

  addonMemcachedHost: "localhost",
  addonMemcachedConfig: [
    keyPrefix: "search_addon_",
    port: 11211,
    useElasticache: true
  ],

  recommendationMemcachedHost: "localhost",
  recommendationMemcachedConfig: [
    keyPrefix: "search_recommendation_",
    port: 11211,
    useElasticache: true
  ],

  usePublicApiContent: false,
  enableContentResourceCaching: false,
  contentOrigin: "api.traveloka.com",
  contentPublicApi : [
      publicApi : [
        host: "api.traveloka.com",
        proto: "https"
      ]
  ],

  enableContentResourceCaching: true,

  enableRentalDataClientCaching: true,
  rentalDataClientCacheConfig: [
    clientCacheType: "LOCAL"
  ],

  enableSharedMemcachedCaching: true,
  sharedMemcachedCacheConfig: [
    memcachedHost: "localhost",
    memcachedConfig: [
      port: 11211,
      keyPrefix: "sharedMemcached_",
      useElasticache: true
    ]
  ]
]
